body {
  font-family: Gotham;
}

#header {
  height: 75px;
  width: 100%;
  background-color: #55AF9B;
  color: white;
}

#engage-table td {
  vertical-align: middle;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.addeventatc_dropdown .copyx {
    display: none !important;
}

td {
  text-align: center;
}

table td a {
  display: block;
}

a {
    text-decoration: none !important;
}

td.hour {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #FAFAFA;
  color: blue;
}

.bootcamps {
  background: linear-gradient(to right, lightgray 50%, #71BCC7 51%);
}
.meet-experts {
  background: linear-gradient(to right, #A5628E 33.33%, #71BCC7 33.33%);
}

th {
  height: 45px;
  text-align: center;
  background-color: #FAFAFA;
  color: green;
}

.bus-track {
  border-right: 1px solid #ddd;
}

.small-column {
  max-width: 250px;
  min-width: 150px;
}
.large-column {
  max-width: 400px;
  min-width: 200px;
}

.light-blue{
  background-color: #71BCC7;
}
.dark-gray {
  background-color: darkgrey;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}
.light-yellow {
  background-color: #F2D579;
}
.rp-red {
  background-color: #A5628E;
}

.center-text {
  text-align: center;
}
.modal-footer {
  text-align: inherit;
  height: 56px;
  background-color: green;
  padding: 10px;
}

.modal-width {
  max-width: 400px;
}

.addeventatc {
  float: right;
  font-size: 12px !important;
  max-width: 150px;
  padding: 11px 9px 9px 38px !important;
}

.addeventatc .addeventatc_icon {
    left: 10px !important;
    top: 8px !important;
}

.modal-footer-text {
  vertical-align: middle;
  position: relative;
}

@media only screen and (min-width: 769px) {
    .short {
      display: none;
    }
    .long {
      display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .short {
      display: inline-block;
    }
    .long {
      display: none;
    }
}
