@font-face {
  font-family: gotham-book;
  src: url("fonts/gothamhtf-book-webfont.ttf");
}
@font-face {
  font-family: gotham-bold;
  src: url("fonts/Gotham-Bold.otf"); 
}

body {
  font-family: gotham-book;
  color: white !important;
  font-size: 14px;
}

h3 {
  color: gray;
}

.calendar-help {
  margin-left: 50px;
}

#header {
  height: 75px;
  width: 100%;
  color: white;
  background-image: url("./images/engage-background.png");
}

#engage-table td {
  vertical-align: middle;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#list-view-btn {
  float: right;
  margin-top: -55px;
  margin-right: 25px;
}
#cal-view-btn {
  float: right;
  margin-top: -55px;
  margin-right: 40px;
}

.email {
  color: 
}

.switch-view {
  width: 50px;
}

.glyphicon {
  font-size: 35px;
}

.engage-img {
  padding-left: 25px;
  padding-top: 18px;
}

.panel-group {
  color: #6B6B6B;
  width: 90%;
  margin: 10px 10px;
}

.panel-group a {
  color: #6B6B6B !important;
}

.registration-desk {
  background-color: #6B6B6B;
}

.panel-group a:hover {
  color: #6B6B6B !important;
}

.panel-title {
  color: #28B29A;
}

.panel-body {
  background-color: #FAFAFA;
}

.list-hour {
  height: 55px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  margin-top: 5px;
}

.list-hour-bottom {
  height: 55px;
  border-bottom: none;
  margin-top: 5px;
}

.addeventatc_dropdown .copyx {
    display: none !important;
}

td {
  text-align: center;
}

.table {
  width: 99.8%;
}

table td a {
  display: block;
  height: 100%;
  width: 100%;
}

a {
    text-decoration: none !important;
    color: white;
} 

a:hover {
  cursor: pointer !important;
  color: white !important;
}

.two-cells {
  height: 76px;
  vertical-align: middle;
}
.three-cells {
  height: 114px;
  vertical-align: middle;
}
.four-cells {
  height: 152px;
  vertical-align: middle;
}
.six-cells {
  height: 228px;
  vertical-align: middle;
}

.align-text {
  padding-top: 14%;
}
.align-text-less {
  padding-top: 8%;
}
.align-text-px {
  padding-top: 25px;
}

td.hour {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: #FAFAFA;
  color: #A15A95;
  border-bottom: none !important;
  border-right: none !important;
  border-top: none !important;
}

.bootcamps {
  background: linear-gradient(to right, lightgray 50%, #71BCC7 50%);
}

.no-padding {
  padding: 0 !important;
}

th {
  height: 45px;
  text-align: center !important;
  background-color: #FAFAFA;
  color: #28B29A;
}

.bus-track {
  border-right: 1px solid #ddd;
}
.bus-track:hover {
  background-color: #E03F55;
}

.beg-bootcamp {
  background-color: lightgray;
}
.beg-bootcamp:hover {
  background-color: #AEAEAE;
}

.adv-bootcamp {
  background-color: #71BCC7;
}
.adv-bootcamp:hover {
  background-color: #40A5B0;
}

.meet-experts {
  background-color: #A15A95;
  width: 33.33%
}
.meet-experts:hover {
  background-color:  #804877;
}

.monday-column {
  width: 16%;
}
.tuesday-column {
  width: 28%;
}
.wednesday-column {
  width: 28%;
}
.thursday-column {
  width: 28%;
}

.list-view-bg {
  background-color: #F5F5F5;
}
.rp-light-gray {
  background-color: #C7C7C7;
}
.rp-blue{
  background-color: #59BEC9;
}
.rp-dark-gray {
  background-color: #6B6B6B;
}
.rp-green {
  background-color: #28B29A;
}
.rp-yellow {
  background-color: #F7D569;
}
.rp-red {
  background-color: #E76B7C;
}
.rp-purple {
  background-color: #A15A95;
}
.rp-orange {
  background-color: #F4C540;
}
.green-text {
  color: #28B29A;
}
.purple-text {
  color: #A15A95;
}
.white-text {
  color: white;
}

.email {
  color: #28B29A;
}
.email:hover {
  color: #1F8876 !important;
}

.modal-footer {
  text-align: inherit;
  height: 56px;
  background-color: #28B29A;
  padding: 10px !important;
}
.modal-descriptions {
  padding-bottom: 20px;
}
.modal-title {
  font-family: gotham-bold;
}

.modal-width {
  max-width: 400px;
}

.modal-body,
.modal-footer {
  font-size: 15px;
}

.modal-body {
  color: #6B6B6B;
}

.addeventatc {
  float: right;
  font-size: 12px !important;
  max-width: 150px;
  padding: 11px 9px 9px 38px !important;
}

.addeventatc .addeventatc_icon {
    left: 10px !important;
    top: 8px !important;
}

.calendly-cal {
    left: 2px !important;
    font-size: 16px !important;
    padding-right: 8px !important;
    padding-top: 0px !important;
}

.calendly-btn {
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    display: inline-block;
    zoom: 1;
    position: relative;
    font-family: Gotham Book, Roboto, Helvetica;
    color: #000!important;
    font-weight: 300;
    line-height: 100%!important;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    cursor: pointer;    
    text-decoration: none;
    float: right;
    font-size: 12px !important;
    max-width: 150px;
    padding: 4px 9px 9px 9px !important;
}

.modal-footer-text {
  vertical-align: middle;
  position: relative;
  float: left;
  padding-top: 7px !important;
}

td.rp-purple:hover {
  background-color: #804877;
}
td.rp-light-gray:hover {
  background-color: #6B6B6B;
}
td.rp-blue:hover {
  background-color: #40A5B0;
}
td.rp-dark-gray:hover {
  background-color: #C7C7C7;
}
td.rp-green:hover {
  background-color: #1F8876;
}
td.rp-red:hover {
  background-color: #E03F55;
}
td.rp-orange:hover {
  background-color: #FCB040;
}

.map {
  margin-top: 2%;
}
.map-size {
  width: 500px;
}
.map-bottom {
  display: none;
}

@media only screen and (max-width: 1300px) {
  body {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 10px;
  }
  .map {
    width: 200px;
    /* margin-right: 4%; */
  }
}

@media only screen and (min-width: 769px) {
    .short {
      display: none;
    }
    .long {
      display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .short {
      display: inline-block;
    }
    .long {
      display: none;
    }
    .panel-group {
      width: 95%;
    }
    #list-view-btn {
      display: none;
    }
    #cal-view-btn {
      display: none;
    }
    .map {
      display: none;
    }
    .map-bottom {
      display: block;
      margin: 60px auto;
      width: 90%;
    }
}
